<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.hzl.mapper.GroupMapper">


    <insert id="insertOne" parameterType="com.hzl.entity.Group"  useGeneratedKeys="true" keyProperty="groupId" keyColumn="groupId">
        insert into group(beginDay,posterNum,integral) values(#{group.beginDay},#{group.posterNum},#{group.integral})
    </insert>
</mapper>
